<div class="adminContainer">
	<div class="adminLeft">
		<form
			action="/add"
			method="POST"
			class="adminForm"
			enctype="multipart/form-data"
		>
			<h4 class="admin-title">Add new Post</h4>
			<div class="admin-input-group">
				<input
					placeholder="Title"
					class="adminInput"
					type="text"
					required
					name="title"
				/>
			</div>
			<label for="images" class="drop-container">
				<span class="drop-title">Drop files here</span>
				or
				<input type="file" id="images" accept="video/*" name="file" required />
			</label>
			<button type="submit" class="admin-button">ADD</button>
		</form>
	</div>
	<div class="adminRight">
		{{#each userPosts}}
			<a href="/watch/{{watchVideoURL id}}" class="adminCard">
				<video width="320" height="240" controls>
					<source src="/videos/{{video}}" />
				</video>
				<div class="bottomCard">
					<div class="bottomCardLeft">
						<img
							src="/avatars/{{this.user.avatar}}"
							alt="cardAvatar"
							class="cardAvatar"
						/>
					</div>
					<div class="bottomCardRight">
						<div class="bottomCardTitle">
							{{title}}
						</div>
						<div class="cardDescription">
							{{this.user.username}}
						</div>
						<div class="cardBottomDown">
							<span class="cardViews">{{getLength views}} views</span>
							<span class="cardDate">💿 {{agoDate createdAt}}</span>
						</div>
					</div>
				</div>
			</a>
		{{/each}}
	</div>
</div>