<div class="containerAllCards">
	<div class="cards">
		{{#each posts}}
			<div class="card">
				<div class="topCard">
					<img src="/img/{{postImg}}" alt="cardImage" class="cardImage" />
					<span class="cardLengthVideo">{{videoLength}}</span>
				</div>
				<div class="bottomCard">
					<div class="bottomCardLeft">
						<img
							src="/avatars/{{this.user.avatar}}"
							alt="cardAvatar"
							class="cardAvatar"
						/>
					</div>
					<div class="bottomCardRight">
						<div class="bottomCardTitle">
							{{title}}
						</div>
						<div class="cardDescription">
							{{this.user.username}}
						</div>
						<div class="cardBottomDown">
							<span class="cardViews"></span>
							<span class="cardDate">💿 27 minutes ago</span>
						</div>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</div>