<div class="containerAllCards">
	<div class="cards">
		{{#each posts}}
			<a href="/watch/{{watchVideoURL id}}" class="card">
				<video width="320" height="240" controls>
					<source src="/videos/{{video}}" />
				</video>
				<div class="bottomCard">
					<div class="bottomCardLeft">
						<img
							src="/avatars/{{this.user.avatar}}"
							alt="cardAvatar"
							class="cardAvatar"
						/>
					</div>
					<div class="bottomCardRight">
						<div class="bottomCardTitle">
							{{title}}
						</div>
						<div class="cardDescription">
							{{this.user.username}}
							<div class="cardDescription-right">
								{{size}}MB
								<div class="downloadIcon"><i class="bi bi-download"></i></div>
							</div>
						</div>
						<div class="cardBottomDown">
							<span class="cardViews">{{getLength views}} views</span>
							<span class="cardDate">💿 {{agoDate createdAt}}</span>
						</div>
					</div>
				</div>
			</a>
		{{/each}}
	</div>
</div>